@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  color: #fff;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}
.active {
  color: rgb(94, 212, 9);
}
li a {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  margin: 5px 10px;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 20px 55px;
}
.logo img {
  width: 300px;
  height: 90px;
}
.hero {
  height: max-content;
  background-image: url("image/carousel-2.jpg");
  background-color: rgba(0, 0, 0, 0.649);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
}
.signup {
  padding: 5px 70px;
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
}
.texts {
  width: 35%;
  /* text-align: center; */
  > h1 {
    font-size: 60px;
    font-weight: 700;
  }

  > h3 {
    margin-top: 10px;
    font-size: 30px;
  }

  > p {
    text-align: justify;
    margin-top: 20px;
    font-size: 16px;
  }
}
.signup-form {
  width: 35%;
  > h1 {
    margin-bottom: 25px;
    font-size: 50px;
    text-align: center;
    font-weight: 700;
  }
}
form {
  border: 2px solid rgba(255, 255, 255, 0.667);
  border-radius: 15px;
  padding: 40px 20px;
  height: max-content;
  display: flex;
  flex-direction: column;
  /* text-align: center; */
}
label {
  font-size: 20px;
}
.fields {
  margin: 10px auto;
  padding: 5px;
  font-size: 20px;
  width: 100%;
  border: 2px solid rgba(255, 255, 255, 0.369);
  border-radius: 5px;
  background: transparent;
  text-align: start;
  text-indent: 12px;
}
.sub-btn {
  margin-top: 40px;
  width: 20%;
}
.btn {
  align-self: center;
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.369);
  border-radius: 10px;
  background: rgba(93, 212, 9, 0.705);
  padding: 10px 5px;
  font-size: 15px;
}
.get-btn{
    margin-top: 30px;
  width: 40%;
}